.justify-content-md-center{
    padding: 30px 0;
    gap: 30px;
}
.input{
    width: 50%;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
 margin-left: 0%;
}
input:focus { 
    outline: none !important;
    border-color: #d62c57;
    box-shadow: 0 0 10px #d62c57;
}
.searchbtn{
    border: 2px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
    padding-top: 3px;
    font-size: small;
    font-weight: bold;
    margin: 2px;
    margin-bottom: .25px;  
    height :32px;
}
.searchbtn:hover, .searchbtn:focus {
    background: var(--gradient) !important;
-webkit-background-clip: none !important;
-webkit-text-fill-color: #fff !important;
border: 2px solid rgb(31, 30, 30) !important; 
box-shadow: #222 1px 0 10px;
text-decoration: none;
}
:root {
--gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}
.pTg{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 45px;
}

select.choose{
    border: 2px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
    padding-top: 3px;
    font-size: small;
    font-weight: bold;
    margin-left: 66%;
    margin-top: 11px;
    height: 28px;
}
select.choose:hover{
    background: var(--gradient) !important;
-webkit-background-clip: none !important;
-webkit-text-fill-color: #fff !important;
border: 2px solid rgb(31, 30, 30) !important; 
box-shadow: #222 1px 0 10px;
text-decoration: none;
}
select.choose>option{
    font-size: small;
    font-weight: bold;
   background-color: black;
   color: #DD2476;
}

.Search {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: absolute;
    left:0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    pointer-events: none;
  }
  .Search input {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    height: 37px;
    width: 20%;
    margin-top: 8px;
    background: transparent;
    color: #ffffff;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    border: 2px solid rgba(245, 245, 241, 0.1);
    outline: none;
    border-radius: 37px;
    padding: 0 10px;
    pointer-events: all;
    -webkit-transition: border .25s ease, width .125s ease .125s;
    transition: border .25s ease, width .125s ease .125s;
  }
  .Search input:focus {
    border: 2px solid #e50914;
    width: 30%;
  }
  