.reviewHeader{
    display: flex;
}
.addReviewContainer{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 30px;
}

.addReview{
    display: flex;
    gap: 30px;
}

.addReviewImg{
    width: 150px;
    height: 150px;
}

.review{
    display: flex;
    flex-direction: column;
    padding:15px;
    gap: 30px;
    border: solid 1px black;
    border-radius: 10px;

}

p{
    text-align: justify;
}