.cardImg{
  width: 15rem;
  width: 100%;
  
}

.mainMovieCard{
  width: 15rem;
 height: 37rem;
 background: #222;
 /* border: 2px solid #dd2476; */
 color:white;
 /* margin-bottom: 2rem; */
 

}
.date{
  background: #222;
  border: 30px solid #dd2476;
  color: white;
  margin-bottom: 2rem;
  /* overflow: hidden; */
  text-align: center;
}

.btn {
  border: 2px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
  padding-top: 3px;
  font-size: 15px;
  font-weight: bold;
  margin: 3px;
  /* margin-bottom: .30px; */
 
width: 95px;
height: 55px;



}

.btn:hover, .btn:focus {
      background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 2px solid rgb(31, 30, 30) !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: none;
}
:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
  background: #111 !important;
}

.vote{
  text-align: center;
}
.card-body{
  height: 35px; 
  /* padding: 1px 1px; */
 /* border: 2px solid #dd2476; */
 
}

  .vot{
      color:white;
      text-align: center;
  }
  .buttonCard{
      margin-left: 18px;
      margin-top: 0;
  }
 

  
  