.cardIm{
  width: 16rem;
  width: 100%;
  border:1px solid  #dd2476;
}
.mainMovie{
  width: 15rem;
  height: 0rem;
  border: 1px solid  #dd2476;
 
 
}

.movieCard{
  margin:auto;
  width: 100%;
 
}
.vote1{
  text-align: center;

}

.vot1{
  color:white;
  text-align: center;
}
.mainMovie.card{
  margin:0;
  background: black;
  
}